//HEADER NAME

.header-product-bikes {
  height: 300px;
  width: 100%;
  display: grid;
  place-items: center;
  padding-top: 102px;
}

//MENU PRODUCT

.sticky {
  position: sticky;
  width: 20%;
  height: 100%;
  top: 40px;
  float: left;
}
.main-product-bikes {
  display: flex;
  height: auto;
}
.sticky li {
  padding: 10px 0px;
  display: inline-block;
  width: 100%;
  line-height: center;
  padding-left: 20px;
  font-weight: bold;
}

.sticky li i {
  float: right;
  font-size: 20px;
}

.sticky li:hover i {
  color: #ccc;
}
//PRODUCT-LIST

.product-list {
  width: 80%;
  float: right;
}
.card-item {
  border: 0px;
  margin: 25px;
}

