<footer>
    <div class="footer-main container mt-4 ">
        <div class="row mt-4">
            <div class="col-6">
                <h5>GET THE LATEST NEWS</h5>
                <p>Sign up for the KONA newsletter</p>
                <div class="input-group mb-3">
                    <input type="text" class="form-control form-sm-control" placeholder="Email Adress"
                        aria-label="Recipient's username" aria-describedby="basic-addon2">
                    <div class="input-group-append">
                        <button class="btn btn-outline-secondary" type="button">SUBCRIBER</button>
                    </div>
                </div>
            </div>
            <div class="col-3 footer-icons">
                <a href=""> <i class="fa-brands fa-facebook"></i></a>
                <a href=""> <i class="fa-brands fa-twitter"></i></a>
                <a href=""> <i class="fa-brands fa-instagram"></i></a>
                <a href=""> <i class="fa-brands fa-youtube"></i></a>
                <a href=""> <i class="fa-brands fa-tiktok"></i></a>
            </div>
        </div>

        <div class="footer-contact row mt-4">
            <div class="col">
                <ul>
                    <li><b><a href="">CONNECT</a></b></li>
                    <hr>
                    <li><a href="">DEALER LOCATOR</a></li>
                    <li><a href="">CONTACT US</a></li>
                </ul>
            </div>
            <div class="col">
                <ul>
                    <li><b><a href="">SUPPORT</a></b></li>
                    <hr>
                    <li><a href="">WARRANTY</a></li>
                    <li><a href="">REGISTER YOUR BIKE</a></li>
                    <li><a href="">PRIVACY POLICY</a></li>
                    <li><a href="">ORDERS & RETURNS</a></li>
                    <li><a href="">CURRENT PROMOTIONS</a></li>
                    <li><a href="">ARCHIVE</a></li>
                </ul>
            </div>
            <div class="col">
                <ul>
                    <li><b><a href="">KONA WORLDWIDE</a></b></li>
                    <hr>
                    <li><a href="">KONA Europe/France</a></li>
                    <li><a href="">KONA United Kingdom</a></li>
                </ul>
            </div>
            <div class="col">
                <ul>
                    <li><b><a href="">DOWNLOADS</a></b></li>
                    <hr>
                    <li><a href="">OWNER'S MANUALS</a></li>
                </ul>
            </div>
        </div>


    </div>
</footer>