<header class="header row justify-content-between align-items-center">
    <a class="navbar-brand" href="/">
        <img src="http://localhost:3000/img/LOGO.png" alt="XeDap.vn" class="logo" />
    </a>
    <nav class="navbar justify-content-between">
        <ul class="menu row align-items-center">
            <li>
                <a href="/collections/bikes">BIKES</a>
            </li>
            <li>
                <a href="/collections/pants">PARTS</a>
                <ul class="sub-menu">
                    <li>
                        <a href="#!">FRAME</a>
                    </li>
                    <li>
                        <a href="#!">PEDALS & GRIPS</a>
                    </li>
                    <li>
                        <a href="#!">ALL PARTS</a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="/collections/gear">GEAR</a>
                <ul class="sub-menu">
                    <li>
                        <a href="#!">RIDING GEAR</a>
                    </li>
                    <li>
                        <a href="#!">APPAREL</a>
                    </li>
                    <li>
                        <a href="#!">TOOLS</a>
                    </li>
                    <li>
                        <a href="#!">ALL GEAR</a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="/collections/sale">SALE</a>
            </li>
            <li>
                <a href="/pages/dealer-locator">DEALERS</a>
                <ul class="sub-menu">
                    <li>
                        <a href="/pages/dealer-locator">DEALER LOCATOR</a>
                    </li>
                    <li>
                        <a href="#!">DISTRIBUTIONS</a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="/blog/teams">TEAMS</a>
                <ul class="sub-menu">
                    <li>
                        <a href="#!">FACTORY</a>
                    </li>
                    <li>
                        <a href="#!">PRO DEVELOPMENT</a>
                    </li>
                    <li>
                        <a href="#!">ADVOCACY</a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="/blog/cog">COG</a>
            </li>
        </ul>
    </nav>
    <div class="tool-right">
        <a href="#!">
            <i class="fa-solid fa-magnifying-glass fa-lg" style="color: #ffffff;"></i>
        </a>
        <a href="#!">
            <i class="fa-regular fa-user fa-lg" style="color: #ffffff;"></i>
        </a>
        <a href="/cart">
            <i class="fa-solid fa-cart-shopping fa-lg" style="color: #ffffff;"></i>
        </a>
    </div>
</header>