<main>
    <img src="https://www.konaworld.com/cdn/shop/files/2K24-COG-Collection-Desktop-2400x723.jpg?v=1706217614&width=1400"
        alt="" style="padding: 102px 0 50px 0; width: 100%;">
    <div class="news-deck">
        <div class="card news-item" style="width: 390px;">
            <img class="card-img-top"
                src="https://www.konaworld.com/cdn/shop/articles/IMG_2123.jpg?v=1712658508&width=600"
                alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
        <div class="card news-item" style="width: 390px;">
            <img class="card-img-top"
                src="https://www.konaworld.com/cdn/shop/articles/IMG_2123.jpg?v=1712658508&width=600"
                alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
        <div class="card news-item" style="width: 390px;">
            <img class="card-img-top"
                src="https://www.konaworld.com/cdn/shop/articles/IMG_2123.jpg?v=1712658508&width=600"
                alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
        <div class="card news-item" style="width: 390px;">
            <img class="card-img-top"
                src="https://www.konaworld.com/cdn/shop/articles/IMG_2123.jpg?v=1712658508&width=600"
                alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
    </div>
</main>