<main>
    <div class="product-item">
        <div class="img-product-item ml-4 mr-4 mb-4">
            <img src="https://www.konaworld.com/cdn/shop/products/my22_process_153_29.jpg?v=1675897242&width=800"
                alt="">
            <div class="list-img-item">
                <img src="https://www.konaworld.com/cdn/shop/products/my22_process_153_29.jpg?v=1675897242&width=800"
                    alt="">
                <img src="https://www.konaworld.com/cdn/shop/products/my22_process_153_29.jpg?v=1675897242&width=800"
                    alt="">
                <img src="https://www.konaworld.com/cdn/shop/products/my22_process_153_29.jpg?v=1675897242&width=800"
                    alt="">
                <img src="https://www.konaworld.com/cdn/shop/products/my22_process_153_29.jpg?v=1675897242&width=800"
                    alt="">
                <img src="https://www.konaworld.com/cdn/shop/products/my22_process_153_29.jpg?v=1675897242&width=800"
                    alt="">
                <img src="https://www.konaworld.com/cdn/shop/products/my22_process_153_29.jpg?v=1675897242&width=800"
                    alt="">
                <img src="https://www.konaworld.com/cdn/shop/products/my22_process_153_29.jpg?v=1675897242&width=800"
                    alt="">
                <img src="https://www.konaworld.com/cdn/shop/products/my22_process_153_29.jpg?v=1675897242&width=800"
                    alt="">
            </div>
        </div>
        <div class="sticky-detail">
            <div class="detail-product-item ">
                <h1>PROCESS 153 29</h1>
                <h3>$3,399.00 USD</h3>
                <hr>
                <p>The perfect Goldilocks bike between the Process 134 and Process X, the Process 153 hits all the sweet
                    spots at a very budget-friendly price. The 160/153mm front and rear suspension gives you unwavering
                    reliability on tricky descents while still climbing with ease. It’s spec’d with everything you need
                    and nothing you don’t. Strong brakes, dependable suspension and grippy tires equal the perfect
                    all-around package.</p>
                <hr>
                Not finding what you want here? <br>
                <p style="color: orange;">Contact your local Kona Dealer.</p>
            </div>
        </div>
    </div>
</main>