<main>
    <div class="header-product-gear">
        <h1><Strong>KONA GEAR</Strong></h1>
        <h4><Strong>RIDING GEAR, APPAREL, ACCESSORIES AND TOOLS</Strong></h4>
    </div>
    <div class="collections">
        <div class="head-collections">
            <h2>RIDING GEAR</h2>
            <span>
                <p style="display: inline-block;">View all</p>
                <i class="fa-solid fa-chevron-right"></i>
            </span>
        </div>
        <div class="gear-deck">
            <div class="card news-item" style="width: 290px;height:365px">
                <img class="card-img-top"
                    src="https://www.konaworld.com/cdn/shop/articles/IMG_2123.jpg?v=1712658508&width=600"
                    alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
            <div class="card news-item" style="width: 290px;height:365px">
                <img class="card-img-top"
                    src="https://www.konaworld.com/cdn/shop/articles/IMG_2123.jpg?v=1712658508&width=600"
                    alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
            <div class="card news-item" style="width: 290px;height:365px">
                <img class="card-img-top"
                    src="https://www.konaworld.com/cdn/shop/articles/IMG_2123.jpg?v=1712658508&width=600"
                    alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
            <div class="card news-item" style="width: 290px;height:365px">
                <img class="card-img-top"
                    src="https://www.konaworld.com/cdn/shop/articles/IMG_2123.jpg?v=1712658508&width=600"
                    alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
            <div class="card news-item" style="width: 290px;height:365px">
                <img class="card-img-top"
                    src="https://www.konaworld.com/cdn/shop/articles/IMG_2123.jpg?v=1712658508&width=600"
                    alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
            <div class="card news-item" style="width: 290px;height:365px">
                <img class="card-img-top"
                    src="https://www.konaworld.com/cdn/shop/articles/IMG_2123.jpg?v=1712658508&width=600"
                    alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
            <div class="card news-item" style="width: 290px;height:365px">
                <img class="card-img-top"
                    src="https://www.konaworld.com/cdn/shop/articles/IMG_2123.jpg?v=1712658508&width=600"
                    alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
    </div>

    {{!-- <div class="collections mt-4 container">
        <div class="head-collections">
            <h2>APPAREL</h2>
            <span>
                <p style="display: inline-block;">View all</p>
                <i class="fa-solid fa-chevron-right"></i>
            </span>
        </div>
    </div>

    <div class="collections container">
        <div class="head-collections">
            <h2>ACCESSORIES</h2>
            <span>
                <p style="display: inline-block;">View all</p>
                <i class="fa-solid fa-chevron-right"></i>
            </span>
        </div>
    </div>

    <div class="collections container">
        <div class="head-collections">
            <h2>TOOLS</h2>
            <span>
                <p style="display: inline-block;">View all</p>
                <i class="fa-solid fa-chevron-right"></i>
            </span>
        </div>
    </div> --}}

</main>