<main>
    <img src="https://www.konaworld.com/cdn/shop/files/2K24_FAFO_Web_Banner2800x1048px.jpg?v=1710778857&width=1400 "
        alt="" class="content-background">


    <div class="box">
        <h1>
            <b>WELCOME TO KONAWORLD</b>
        </h1>
        <span>Since 1988, we've worked to grow the world of cycling, creating new cyclists and inspiring existing ones
            to go deeper. We specialize in purpose-built mountain, gravel, commuter, bike packing, and e-bikes that are
            unbound by convention and as unique as you are. </span>
    </div>


    <div class="content-img">
        <div class="half">
            <a href=""><img
                    src="https://i.shgcdn.com/f5c139c4-8219-45ae-b2a9-ab494d2cf6da/-/format/auto/-/preview/3000x3000/-/quality/lighter/&quot"
                    alt=""></a>
            <div class="text-overlay">
                <h3>KONA MERCH</h3>
                <span>Gear for everything and everyone!</span><br>
                <a href="">
                    <div class="style-btn"><b>SHOP APPAREL</b></div>
                </a>
            </div>
        </div>
        <div class="half">
            <a href=""><img
                    src="https://i.shgcdn.com/68af1a83-434e-484b-9046-9a6560f0b69b/-/format/auto/-/preview/3000x3000/-/quality/lighter/"
                    alt=""></a>
            <div class="text-overlay">
                <h3>COMPONENTS</h3>
                <span style="display: inline-block;">Kona replacement parts — don't miss a single ride.  </span><br>
                <a href="">
                    <div class="style-btn"><b>SHOP PARTS</b></div>
                </a>
            </div>
        </div>
    </div>


    <div class="collections container">
        <div class="head-collections">
            <h2>FEATURED BIKES</h2>
            <span>
                <p style="display: inline-block;">View all</p>
                <i class="fa-solid fa-chevron-right"></i>
            </span>
        </div>
    </div>


</main>