<main>
    <div class="header-product-bikes">
        <h1><Strong>BIKES</Strong></h1>
    </div>
    <div class="main-product-bikes">

        {{!-- MENU PRODUCT --}}

        <div class="menu-product sticky">
            <ul>
                <li>
                    Filters
                    <i class="fa-solid fa-sliders"></i>
                </li>
                <hr>

                <li>
                    In stock only
                    <i class="fa-solid fa-circle-chevron-down"></i>
                </li>
                <hr>
                <li>
                    Price
                    <i class="fa-solid fa-circle-chevron-down"></i>
                </li>
                <hr>
                <li>
                    Product type
                    <i class="fa-solid fa-circle-chevron-down"></i>
                <hr>
                </li>


            </ul>
        </div>


        {{!-- PRODUCT LIST --}}

        <div class="product-list row">

            <div class="card-item card" style="width: 300px; height:300px">
                <img class="card-img-top"
                    src="https://www.konaworld.com/cdn/shop/products/17.Process153_29-2.jpg?v=1675897242&width=800"
                    alt="Card image cap">
                <div class="card-body">
                    <p class="card-text text-center font-weight-bold">Process 153 29</p>
                    <p class="card-text text-center">$3,399.00 USD</p>
                </div>
            </div>
            <div class="card-item card" style="width: 300px; height:300px">
                <img class="card-img-top"
                    src="https://www.konaworld.com/cdn/shop/products/17.Process153_29-2.jpg?v=1675897242&width=800"
                    alt="Card image cap">
                <div class="card-body">
                    <p class="card-text text-center font-weight-bold">Process 153 29</p>
                    <p class="card-text text-center">$3,399.00 USD</p>
                </div>
            </div>
            <div class="card-item card" style="width: 300px; height:300px">
                <img class="card-img-top"
                    src="https://www.konaworld.com/cdn/shop/products/17.Process153_29-2.jpg?v=1675897242&width=800"
                    alt="Card image cap">
                <div class="card-body">
                    <p class="card-text text-center font-weight-bold">Process 153 29</p>
                    <p class="card-text text-center">$3,399.00 USD</p>
                </div>
            </div>

        </div>
    </div>
</main>