<main>
    <img src="https://www.konaworld.com/cdn/shop/files/2K24_FAFO_Web_Banner2800x1048px.jpg?v=1710778857&width=1400 "
        alt="" class="content-background">

    <div class="box-content-teams ">
        <div class="container">
            <h2><strong>The 2024 Kona Factory Team is ready to take on the world’s most challenging trails. From North
                    Vancouver’s roots and loam to Kamloops’ iconic lines, California’s flow, and atop the world’s most
                    epic
                    alpine mountain peaks, these riders will be blowing up corners and turning heads everywhere they
                    go.</strong></h2>
            <br>
            <h3>Kona’s Factory Team has North Shore’s favorite son, Caleb Holonko. Headlining the Factory Team, Caleb
                has
                more heavy-hitting video parts planned to document his total assault on the freeride world. Next on the
                team
                is California phenom Eddie Reynolds. His combination of effortless style, speed, and an ever-expanding
                bag
                of tricks is bound to blow minds in 2024. Then Kamloops B.C.’s shredder Kyleigh Stewart, will be
                focusing
                her talents on the growing women’s freeride scene. Then new to the team up and comer Tayte Proulx-Royds.
                The
                2024 Factory Team is set to be our most stylish yet. We’re gearing up for a year of big sends, big
                adventures, and groundbreaking riding.
            </h3>

        </div>
    </div>

    <div class="person-built">
        <div class="person-detail card" style="width: 285px; height:285px">
            <img class="card-img-top"
                src="https://www.konaworld.com/cdn/shop/articles/caleb-holonko.jpg?v=1684176266&width=600"
                alt="Card image cap">
            <div class="card-body">
                <p class="card-text text-center font-weight-bold">CALEB HOLONKO</p>
            </div>
        </div>
        <div class="person-detail card" style="width: 285px; height:285px">
            <img class="card-img-top"
                src="https://www.konaworld.com/cdn/shop/articles/caleb-holonko.jpg?v=1684176266&width=600"
                alt="Card image cap">
            <div class="card-body">
                <p class="card-text text-center font-weight-bold">EDDIE REYNOLDS</p>
            </div>
        </div>
        <div class="person-detail card" style="width: 285px; height:285px">
            <img class="card-img-top"
                src="https://www.konaworld.com/cdn/shop/articles/caleb-holonko.jpg?v=1684176266&width=600"
                alt="Card image cap">
            <div class="card-body">
                <p class="card-text text-center font-weight-bold">KYLEIGH STEWART</p>
            </div>
        </div>
        <div class="person-detail card" style="width: 285px; height:285px">
            <img class="card-img-top"
                src="https://www.konaworld.com/cdn/shop/articles/caleb-holonko.jpg?v=1684176266&width=600"
                alt="Card image cap">
            <div class="card-body">
                <p class="card-text text-center font-weight-bold">TAYTE PROULX-ROYDS</p>
            </div>
        </div>
    </div>
    </div>
</main>