<main>
    <div class="header-cart">
        <h1><strong>CART</strong></h1>
    </div>
    <div class="pay-cart">
        <div class="cart-order">

        </div>
        <div class="form-cart">
            
        </div>
    </div>
</main>